here*{
box-sizing:border-box;
}

body{
margin:0;
background:#070707;
color:white;
font-family:Arial,sans-serif;
min-height:100vh;
}


header{
text-align:center;
padding:25px 10px;
font-size:30px;
font-weight:bold;
color:#ffd700;
}


header p{
font-size:15px;
color:#aaa;
margin-top:8px;
}


.container{
width:95%;
max-width:600px;
margin:auto;
}


.card{
background:#151515;
border-radius:20px;
padding:20px;
margin:20px 0;
box-shadow:0 0 15px #000;
}


h2{
text-align:center;
color:#ffd700;
}


input{
width:100%;
padding:15px;
margin:8px 0;
border-radius:12px;
border:1px solid #444;
background:#222;
color:white;
font-size:16px;
}


button{
width:100%;
padding:16px;
margin-top:15px;
border:none;
border-radius:15px;
background:#ffd700;
color:#000;
font-size:18px;
font-weight:bold;
}


button:hover{
opacity:.8;
}


#result{
text-align:center;
font-size:18px;
line-height:1.8;
padding:15px;
}


.score{
font-size:35px;
color:#00ff88;
font-weight:bold;
}
