body{
    margin:0;
    background:#070707;
    color:white;
    font-family:Arial, sans-serif;
}

header{
    background:#111;
    padding:20px;
    text-align:center;
    font-size:25px;
    font-weight:bold;
    color:#ffd700;
}

.card{
    background:#171717;
    margin:15px;
    padding:15px;
    border-radius:15px;
    box-shadow:0 0 15px #000;
}

.team{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:30px;
    text-align:center;
}

.team img{
    width:70px;
    height:70px;
    object-fit:contain;
}

.name{
    font-size:18px;
    font-weight:bold;
}

.box{
    background:#222;
    margin-top:12px;
    padding:12px;
    border-radius:10px;
}

.title{
    color:#ffd700;
    font-size:20px;
    font-weight:bold;
}

.win{
    color:#00ff88;
}

.lose{
    color:#ff5555;
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#ffd700;
    font-weight:bold;
    cursor:pointer;
}

input,select{
    width:95%;
    padding:10px;
    margin:6px;
    border-radius:8px;
    border:none;
}

.menu{
    display:flex;
    justify-content:space-around;
    background:#111;
    padding:15px;
    position:fixed;
    bottom:0;
    width:100%;
}

.menu a{
    color:white;
    text-decoration:none;
}
